.color-back{
    -fx-background-color: #3376b8;
}

.image{

    -fx-background-image: url('../img/homeScreen.png');
}


.label{
    -fx-text-fill: #FFFFFF;
    -fx-font-family: PossumSaltareNF;
    -fx-font-size : 24;
}

.button{
    -fx-text-fill: #FFFFFF;
    -fx-font-family: PossumSaltareNF;
    -fx-border-color: transparent;
    -fx-background-color: transparent;
    -fx-font-size : 28;
}

.button:hover{
    -fx-border-color: #FFFFFF;
}

.choice-box .menu-item > .label{
    -fx-text-fill: #FFFFFF;
}

.choice-box .context-menu{
    -fx-background-color: #3376b8;
}

.choice-box{
    -fx-background-color: #3376b8;
    -fx-border-color: #FFFFFF;
}

.choice-box > .label{
    -fx-text-fill: #FFFFFF;
}


